<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BCPaySDK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>libBCPaySDK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>364A5BF01B799C6900C1CAE8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>364A5BF51B799D6E00C1CAE8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>364BC4D31B5502C700EAFCCE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>364BC4DE1B5502C700EAFCCE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
